<style>
	body {
		background-color:#E6E7E8;
		text-align:center;
	}
	
	h1 {
		text-align:center;
	}
	
	div {
		width:100%;
		height:100%;
		float:none;
		display:inline;
	}
</style>

<br><br><br><br><br><br><br><br><br><br><br><br>
<h1>Token inválido. Por favor clique no link do e-mail novamente.</h1>