<p>Olá <%= @record.name %>!</p>
<p>Sua senha é <%= @record.generated_password %></p>
<p><%= link_to "Clique aqui para confirmar sua conta!", confirmation_url(@record, :confirmation_token => @record.confirmation_token) %></p>