<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>    
	<p>Ola <%= @record.user.name %>,</p>		
	<p>Seu convite para o evento <%= @record.event.title %> foi finalizado com sucesso!</p>
	<p>Na entrada do evento, por favor mostre o QR Code em anexo ao representante Ford!</p>
  </body>
</html>